body{
		  	background-color : #f9f7f7;
       }

			hr{
				border-color: #3f72af;
				border-style: none;
				border-top-style: dotted;
				border-width: 7px;
				width: 10%;
			}

			fieldset{
				background-color: #dbe2ef;
			}

      img {
        display: block;
        margin-left:4%;
        width: 20%;
        height: 20%;
      }

      h2 {
        color: #46cdcf;
      }
