body{
		  	background-color :#063839;
				margin: 0;
       }

			hr{
				border-color: #3f72af;
				border-style: none;
				border-top-style: dotted;
				border-width: 7px;
				width: 10%;
			}

			.two {
        display: inline-block;
				position: relative;
        margin:200px auto auto 400px;

      }

			img {
				width: 40%;
        height: 40%;
			}

      h2 {
        color: #46cdcf;
      }

			.one {
				display: block;
				position: relative;
				margin-left: 400;
			}
