body{
		  	background-color : #f9f7f7;
       }

			hr{
				border-color: #3f72af;
				border-style: none;
				border-top-style: dotted;
				border-width: 7px;
				width: 10%;
			}

			img {
        display: block;
        margin-left:4%;
        width: 20%;
        height: 20%;
      }

      h2 {
        color: #46cdcf;
      }

			.three {
				display:inline-block;
				background-color:blue;
  			width:200px;
				height:200px;
			}
			.two {
				display: inline-block;
				background-color:red;
				width:200px;
				height:200px;
			}
			.one {
				display: inline-block;
			  background-color: #EAF6F6;
			}
